@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  margin: --digi--global--spacing--smallest-6;
  margin: --digi--global--spacing--largest-4;
  --digi--color--text--primary: #333333;
  --digi--color--text--inverted: #ffffff;
  --digi--color--background--inverted-1: rgb(0, 117, 119);
  --digi--color--border--secondary: rgb(0, 117, 119);
  --digi--color--background--inverted-4: #fa9e0c;
  --digi--color--text--link: rgb(0, 117, 119);
  --digi--color--text--link-hover: hotpink;
  --digi--color--text--link-visited: darkslategrey;
  --digi--color--icons--primary: #333;
}

/* Sidan bör byggas upp med grid - header på plats där den är, sökrutan under och sedan sökresultat-listan under det. När man sedan öppnar en enskild annons flyttas resultatlistan till vänster och annonsen öppnas bredvid. Alternativt att listan hamnar till vänster direkt och man antingen har en placeholdersida tills en annons har valts eller att första annonsen visas automatiskt. */

/* under sökrutan läggs digi-tagg till för att visa vilka filter som är valda */

.digi-form-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: 'wrap';
}

.header-container {
  display: flex;
  flex-direction: column;
}

.sc-digi-header-navigation-item {
 background-color: 2px solid var(--digi--color--background--inverted-4);
}

.sc-digi-form-label {
  color: var(--digi--color--text--inverted);
}

.sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
  background: var(--digi--color--background--inverted-4);
  color: var(--digi--color--text--primary);
  border: none;
}

.sc-digi-button-h .digi-button--variation-primary.sc-digi-button:hover {
  background: var(--digi--color--text--link-hover);
  color: var(--digi--color--text--primary);
}

.sc-digi-button svg {
  color: var(--digi--color--text--primary);
}

/* gömmer logo - snodde koden av Annika på Discord */
.digi-logo__img {
  background-image: url('/src/assets/BoLoGo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.digi-logo svg {
  display: none;
}

@media screen and (min-width: 1024px) {
  .digi-form-filter button {
    margin-right: var(--digi--margin--smaller);
  }
}


.digi-form-filter i.digi-form-filter__toggle-button-indicator--active::before {
  background-color: var(--digi--color--background--inverted-4) !important;
}

.digi-form-checkbox__box {
  background-color: var(--digi--color--background--inverted-4) !important;
}
