@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  margin: --digi--global--spacing--smallest-6;
  margin: --digi--global--spacing--largest-4;
  --digi--color--text--inverted: #ffffff;
  --digi--color--background--inverted-1: darkgreen;
  --digi--color--border--secondary: darkgreen;
  --digi--color--background--inverted-4: #b7ee4a;
  --digi--color--text--link: green;
  --digi--color--text--link-hover: hotpink;
  --digi--color--text--link-visited: darkslategrey;
}

.digi-form-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: 'wrap';
}

.header-container {
  display: flex;
  flex-direction: column;
}
/* Texten i sökblocket, men bör ändras även utan detta anser jag */
.sc-digi-form-label {
  color: var(--digi--color--text--inverted);
}

/* gömmer logo - snodde koden av Annika på Discord */
.digi-logo__img {
  background-image: url('/src/assets/BoLoGo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.digi-logo svg {
  display: none;
}

.digi-form-filter button {
  --digi--color--background--primary: var(
    --digi--color--background--inverted-4
  );
}

[afFilterButtonText] {
  --digi--color--background--primary: var(
    --digi--color--background--inverted-4
  );
}

.digi-button:hover {
  background-color: var(--digi--color--text--link-hover);
}
