@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  margin: --digi--global--spacing--smallest-6;
  margin: --digi--global--spacing--largest-4;
  --digi--color--text--primary: #333333;
  --digi--color--text--inverted: #ffffff;
  --digi--color--background--inverted-1: rgb(0, 117, 119);
  --digi--color--background--inverted-2: rgb(0, 117, 119, 0.2);
  --digi--color--background--inverted-3: rgba(184, 184, 184, 0.2);
  --digi--color--border--secondary: rgb(0, 117, 119);
  --digi--color--background--inverted-4: #fa9e0c;
  --digi--color--text--link: rgb(0, 117, 119);
  --digi--color--text--link-hover: rgb(255, 172, 71);
  --digi--color--text--link-visited: darkslategrey;
  --digi--color--icons--primary: #333;
}

.digi-form-filter-container, .tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: 'wrap';
}
digi-tag {
  margin-right: 0.3rem;

}

.header-container {
  display: flex;
  flex-direction: column;
}
/* navigation link item */
.sc-digi-header-navigation-item {
  background-color: 2px solid var(--digi--color--background--inverted-4);
}

/* navigation link field */
.sc-digi-header-navigation-h
  .digi-header-navigation__inner.sc-digi-header-navigation {
  list-style: none;
  margin: 0;
  display: flex;
  background-color: var(--digi--color--background--inverted-2);
}

/* line under navigation link in header */
.digi-header-navigation-item--active.sc-digi-header-navigation-item-s > a {
  font-weight: bold;
  box-shadow: inset 0 -4px 0 0 var(--digi--color--background--inverted-4);
}

/* Search form label*/
.sc-digi-form-label {
  color: var(--digi--color--text--inverted);
}

/* search button */
.sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
  background: var(--digi--color--background--inverted-4);
  color: var(--digi--color--text--primary);
  border: none;
}
/* search button hover state*/
.sc-digi-button-h .digi-button--variation-primary.sc-digi-button:hover {
  background: var(--digi--color--text--link-hover);
  color: var(--digi--color--text--primary);
}

/* icon in search button */
.sc-digi-button svg {
  color: var(--digi--color--text--primary);
}
/* search filter buttons */
.digi-form-filter i.digi-form-filter__toggle-button-indicator--active::before {
  background-color: var(--digi--color--background--inverted-4) !important;
}

/* checkboxes in filter buttons */
.digi-form-checkbox__box {
  background-color: var(--digi--color--background--inverted-4) !important;
}

/* info card with left border*/
.sc-digi-info-card-h .digi-info-card--border-left.sc-digi-info-card {
  border-width: 0 0 0 10px;
  border-color: var(--digi--color--background--inverted-4);
}

.digi-logo__img {
  background-image: url('../public/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
}

/* hide logo */
.digi-logo svg {
  display: none;
}

/* info card in ad */
.sc-digi-info-card-h .digi-info-card__content.sc-digi-info-card {
  background-color: var(--digi--color--background--inverted-3);
}

/* search filter region digi-button*/
.region-modal-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.sc-digi-button-h .digi-button--full-width.sc-digi-button {
  border: none;
  font-weight: 500;
  color: black;
}

.sc-digi-button-h .digi-button--full-width.sc-digi-button:hover {
  background-color: var(--digi--color--background--inverted-3);
  border-radius: 0;
  border: none;
}



/* content container for modal region button */
.button-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.icon-container {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-right: 0.5rem;
}

.paperclip-icon {
  margin-right: 0.625rem;
}

.ad-logo {
  margin-top: 40px;
}

.single-ad-heading {
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .digi-form-filter button {
    margin-right: var(--digi--margin--smaller);
  }
}
.digi-dialog__close-button {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.span-container span {
  margin-right: 0.5rem;
}
